:root {

    --primary-color: #000;
    --secondary-color: #D9D9D9;

    --alt-black-color: #1E1E1E;
    --alt-white-color: #ECECEC;

   
}

    $color-text: var(--primary-color);
    $font-main: "BeatRice", sans-serif;